@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&family=Slackey&display=swap');

body {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 500px;
    background-image: url('./img/fundo\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.textHeader {
    font-size: 6em;
    font-family: 'Slackey';
    text-shadow: -2px 4px rgba(158, 158, 158, 0.467);
}

.market {
    height: 900px;
    background-image: url('./img/fundo\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.marketHeaderContainer {
    margin-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.marketHeader {
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 'bolder';
    text-align: 'center';
}

.marketHeaderEmphasis {
    color: red;
}

.circlelogo {
    background-color: #aaa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.depoimentos {
    height: 600px;
    padding: 2em;
}

.titleTopics {
    font-family: 'Slackey';
    font-size: 2em;
}

.listaTopics {
    margin-top: 1em;
    font-family: 'Roboto';
    font-size: 26px;
}

.about {
    height: 990px;
    background-image: url('./img/fundo\ 3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.investimento {
    max-width: 400px;
    max-height: 900px;
}

.footer {
    height: 80px;
}