@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&family=Slackey&display=swap');

body {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 500px;
    background-image: url('./img/fundo\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.textHeader {
    font-size: 4em;
    font-family: 'Slackey';
    text-shadow: 2px 2px #000;
}

.market {
    height: 900px;
    background-image: url('./img/fundo\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.circlelogo {
    background-color: #aaa;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: relative;
}

.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.depoimentos {
    height: 600px;
}

.about {
    height: 990px;
    background-image: url('./img/fundo\ 3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    height: 80px;
}